[Desktop Entry]
Name=Visual Studio Code - URL Handler
Comment=Code Editing. Refined.
GenericName=Text Editor
Exec=/usr/lib/visual-studio-code/bin/code --open-url %U
Icon=visual-studio-code
Type=Application
NoDisplay=true
StartupNotify=true
Categories=Utility;TextEditor;Development;IDE;
MimeType=x-scheme-handler/vscode;
Keywords=vscode;
